.frame {
  background-color: #ffffff;
  height: 100px;
  position: relative;
  width: auto;
}

.frame .group {
  height: 55px;
  left: 20px;
  position: absolute;
  top: 22px;
  width: 156px;
}

.frame .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 36px;
  right: 200px;
  position: absolute;
  top: 41px;
}

.frame .text-wrapper {
  color: #eb0000;
  font-family: "Fira Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame .text-wrapper-2 {
  color: #00240f;
  font-family: "Fira Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame .div-2 {
  align-items: center;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  right: 20px;
  position: absolute;
  top: 30px;
}

.frame .noun-search {
  height: 24px;
  position: relative;
  width: 24px;
}

.frame .vector {
  height: 5px;
  left: 7px;
  position: absolute;
  top: 16px;
  width: 5px;
}

.frame .img {
  height: 5px;
  left: 14px;
  position: absolute;
  top: 16px;
  width: 5px;
}

.frame .overlap-group {
  height: 13px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 19px;
}

.frame .vector-2 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.frame .ellipse {
  background-color: #eb0000;
  border-radius: 3.2px;
  height: 6px;
  left: 13px;
  position: absolute;
  top: 2px;
  width: 6px;
}

.frame .div-wrapper {
  align-items: center;
  background-color: #eb0000;
  border-radius: 25px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 24px 11px;
  position: relative;
}

.frame .text-wrapper-3 {
  color: #ffffff;
  font-family: "Fira Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
